*{

  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-tap-highlight-color:transparent;
  font-family:Arial, sans-serif;

}
html,
body{
  width:100%;
  height:100%;
  overflow:hidden;
  touch-action:manipulation;
  background:#eef2f7;

}

/* PHONE */
.phone{
  width:100vw;
  height:100vh;
  background:#ffffff;
  overflow:hidden;
  position:relative;
  padding:18px 16px 95px;

}

/* TOP BAR */
.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:2px;

}

/* LOGO */
.logo{
  width:60px;
  height:60px;
  object-fit:contain;
}

/* NOTIFICATION */
.notification{
  width:44px;
  height:44px;
  border-radius:50%;
  background:#f4f6fb;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow:0 4px 15px rgba(0,0,0,0.05);
}

.notification i{
  font-size:17px;
  color:#2f3542;
}

/* TITLE */

.title-container{
  margin-bottom:3px;
}

.verixa-logo{
  font-family:'Arial Black',sans-serif;
  font-size:4.01rem;
  font-weight:900;
  letter-spacing:-4px;
  text-transform:uppercase;
  display:inline-block;
  background:linear-gradient(
    180deg,
    
    #ffffff 0%,
    #d9e2f2 18%,
    #7a92b8 40%,
    #243b64 52%,
    #eef4ff 62%,
    #4c6fa3 78%,
    #0f172a 100%
  );
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  position:relative;
  text-shadow:
  0 1px 0 rgba(255,255,255,0.25),
  0 4px 10px rgba(0,0,0,0.22);
  filter:
  drop-shadow(0 2px 6px rgba(0,0,0,0.12));
  animation:shineMove 4s linear infinite;

}

/* MOVING SHINE */
.verixa-logo::after{
  content:"VERIXA";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:linear-gradient(
    120deg,
    transparent 20%,
    rgba(255,255,255,0.8) 45%,
    transparent 70%
  );
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  animation:shinePass 3.5s infinite;
}

/* SHINE ANIMATION */

@keyframes shinePass{
  0%{
    transform:translateX(-120%);
  }
  100%{
    transform:translateX(120%);
  }

}


/* GLOW ANIMATION */

@keyframes chromeGlow{

  from{

    filter:

    drop-shadow(0 3px 8px rgba(0,0,0,0.25))

    drop-shadow(0 0 10px rgba(0,140,255,0.18));

  }

  to{

    filter:

    drop-shadow(0 3px 10px rgba(0,0,0,0.35))

    drop-shadow(0 0 18px rgba(0,183,255,0.45))

    drop-shadow(0 0 28px rgba(0,183,255,0.25));

  }

}

/* PREMIUM R EFFECT */

.title-main span{
  background:linear-gradient(
  135deg,
  #00c6ff,
  #0072ff,
  #7f5cff,
  #00f2fe
    
);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  text-shadow:
  0 0 12px rgba(0,198,255,0.5),
  0 0 20px rgba(127,92,255,0.35);
}

.title-sub{
  font-size:13px;
  color:#7b8190;
  margin-top:2px;
  font-weight:600;
  letter-spacing:1px;
}

/* SEARCH */

.search-box{
  display:flex;
  gap:12px;
  margin-bottom:15px;

}

.search-input{
  flex:1;
  height:54px;
  background:#f5f7fb;
  border-radius:18px;
  display:flex;
  align-items:center;
  padding:0 18px;
  color:#8b93a7;
  font-size:15px;
  font-weight:500;

}

.search-icon{
  margin-left:auto;
  font-size:18px;

}

.filter-btn{
  width:54px;
  height:54px;
  border-radius:18px;
  background:#f5f7fb;
  display:flex;

  justify-content:center;
  align-items:center;

}

.filter-btn i{
  font-size:18px;
  color:#3f4654;

}

/* CARD */

.card{
  width:100%;
  border-radius:30px;
  padding:18px;
  position:relative;
  overflow:hidden;
  margin-bottom:0px;

}

/* MAIN CARD */

.green-card{
  position:relative;
  overflow:hidden;
  height:355px;
  border-radius:30px;
  animation:slider 20s infinite;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow:
  0 10px 35px rgba(0,0,0,0.15);

}

/* SLIDER */

@keyframes slider{
  0%{
    background-image:
    linear-gradient(rgba(0,0,0,0.50),
    rgba(0,0,0,0.50)),
    url("../image/car1.jpeg");
  }

  25%{
    background-image:
    linear-gradient(rgba(0,0,0,0.50),
    rgba(0,0,0,0.50)),
    url("../image/car2.jpeg");
  }

  50%{
    background-image:
    linear-gradient(rgba(0,0,0,0.50),
    rgba(0,0,0,0.50)),
    url("../image/car3.jpeg");

  }

  75%{
    background-image:
    linear-gradient(rgba(0,0,0,0.50),
    rgba(0,0,0,0.50)),
    url("../image/car4.jpeg");

  }

  100%{
    background-image:
    linear-gradient(rgba(0,0,0,0.50),
    rgba(0,0,0,0.50)),
    url("../image/car5.jpeg");

  }

}

.blue-card{

  background:linear-gradient(
  135deg,
  #101623,
  #1d2a44,
  #273c75
  );

  height:120px;
  border-radius:30px;
  box-shadow:
  0 10px 25px rgba(39,60,117,0.25);
  transition:0.25s ease;

  cursor:pointer;

  position:relative;
  overflow:hidden;
}

/* BUTTON EFFECT */

.blue-card:active{
  transform:scale(1.03);
  box-shadow:
  0 0 18px rgba(0,198,255,0.35),
  0 0 35px rgba(0,114,255,0.28);

}

/* LIGHT REFLECTION */

.blue-card::before{
  content:"";
  position:absolute;
  top:-100%;
  left:-40%;
  width:150%;
  height:200%;
  background:linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.08),
    transparent
  );
  transform:rotate(20deg);
  animation:cardShine 5s infinite;
}
@keyframes cardShine{
  0%{
    transform:translateX(-120%) rotate(20deg);
  }
  100%{
    transform:translateX(120%) rotate(20deg);
  }
}

/* CARD TOP */

.card-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:6px;

}

.user-info h4{
  font-size:22px;
  font-weight:700;
  color:#fff;
  margin-top:10px;

}

.user-info p{
  font-size:17px;
  color:#d7deea;
  margin-top:2px;

}

/* BUTTON */

.details-btn{
  border:none;
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(10px);
  border-radius:25px;
  padding:11px 18px;
  font-size:20px;
  font-weight:600;
  color:#fff;
  border:1px solid rgba(255,255,255,0.25);

}

/* MAIN TEXT */

.card h2:not(.verify-title){
  font-size:33px;
  line-height:1.12;
  color:#fff;
  font-weight:900;
  margin-top:50px;
  margin-bottom:0px;
  letter-spacing:-1px;
  text-shadow:
  0 2px 8px rgba(0,0,0,0.4);
  

}

/* BADGE */

.badge{
  display:inline-block;
  background:linear-gradient(
  135deg,
  #ffd700,
  #ffb300

  );

  color:#111;
  padding:6px 14px;
  border-radius:2px;
  font-size:4px;
  font-weight:700;
  margin-bottom:44px;
  margin-top:2px;
  box-shadow:
  0 4px 12px rgba(255,179,0,0.4);


}

/* REQUEST */

.request{
  font-size:15px;
  font-weight:700;
  color:#fff;
  margin-bottom:4px;

}

/* MEMBERS */
.members{
  display:flex;
  align-items:center;
  margin-top:8px;

}

.members img{
  width:50px;
  height:50px;
  border-radius:50%;
  border:3px solid #fff;
  margin-left:-10px;
  object-fit:cover;

}

.members img:first-child{
  margin-left:0;

}

.plus{

  width:50px;
  height:50px;
  border-radius:50%;
  background:#111;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:30px;
  margin-left:-10px;
  border:3px solid #fff;

}

/* CHAT BUTTON */

.chat-btn{

  position:absolute;
  right:18px;
  bottom:16px;
  width:60px;
  height:60px;
  border-radius:50%;
  background:linear-gradient(
  135deg,
  #00c6ff,
  #0072ff

  );

  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow:
  0 8px 20px rgba(0,114,255,0.35);

}
.chat-btn i{
  color:#fff;
  font-size:24px;

}

/* BOTTOM NAV */

.bottom-nav{
  position:absolute;
  bottom:10px;
  left:50%;
  transform:translateX(-50%);
  width:92%;
  height:72px;
  background:rgba(255,255,255,0.75);
  backdrop-filter:blur(18px);
  border-radius:40px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  box-shadow:
  0 10px 30px rgba(0,0,0,0.08);
  border:1px solid rgba(255,255,255,0.4);

}

.bottom-nav i{
  font-size:22px;
  color:#6c7486;

}

/* ACTIVE NAV */
.active-nav{
  width:64px;
  height:64px;
  border-radius:50%;
  background:linear-gradient(
  135deg,
  #0072ff,
  #00c6ff
  );

  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:-30px;
  box-shadow:
  0 10px 22px rgba(0,114,255,0.35);

}
.active-nav i{
  color:#fff;
  font-size:22px;
}

.verify-title {
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
  line-height: 1.05;
  letter-spacing: -1px;
  margin-top: 8px;
  margin-bottom: 4px;
  
  text-shadow:
    0 2px 10px rgba(0, 0, 0, 0.45);
}

.verify-title+p {
  font-size: 18px;
  font-weight: 600;
  color: #dfe6f3;
  line-height: 1.2;
  
  text-shadow:
    0 2px 8px rgba(0, 0, 0, 0.4);
}

.badge{
  display:inline-block;

  background:linear-gradient(
  135deg,
  #ffd700,
  #ffae00
  );

  color:#111;

  padding:7px 16px;

  border-radius:20px;

  font-size:11px;
  font-weight:700;

  margin-bottom:22px;
  margin-top:2px;

  animation:badgeGlow 2s infinite alternate;

  box-shadow:
  0 0 10px rgba(255,215,0,0.7),
  0 0 20px rgba(255,174,0,0.5);

  transition:0.3s ease;
}

/* GLOW ANIMATION */

@keyframes badgeGlow{

  from{
    box-shadow:
    0 0 8px rgba(255,215,0,0.5),
    0 0 15px rgba(255,174,0,0.4);
  }

  to{
    box-shadow:
    0 0 15px rgba(255,215,0,1),
    0 0 30px rgba(255,174,0,0.9),
    0 0 45px rgba(255,215,0,0.7);
  }
}

button,

.filter-btn,

.notification,

.chat-btn,

.active-nav,

.bottom-nav i,

.members img,

.plus {
  
  transition: 0.18s ease;
  
  cursor: pointer;
  
}

/* POP ANIMATION */

button:active,

.filter-btn:active,

.notification:active,

.chat-btn:active,

.active-nav:active,

.bottom-nav i:active,

.members img:active,

.plus:active {
  
  transform: scale(1.18);
  
  box-shadow:
  
    0 0 15px rgba(255, 255, 255, 0.4),
    
    0 0 25px rgba(0, 198, 255, 0.45);
  
}

.pay-btn{

  width:60%;

  height:45px;

  border-radius:30px;

  background:linear-gradient(
  135deg,
  #00c6ff,
  #0072ff
  );

  color:#fff;

  display:flex;

  justify-content:center;

  align-items:center;

  text-decoration:none;

  font-size:16px;

  font-weight:800;

  box-shadow:
  0 10px 25px rgba(0,114,255,0.28);

  transition:0.25s ease;
}

.pay-btn:active{

  transform:scale(1.03);
}